<div
  class="vaisseau animated-text1 flex flex-row justify-center items-center">
      <img
        class="h-80 rotate-180 scale-x-150"
        alt="hero"
        src="assets/images/vin.png"/>
</div>
      <br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br />
<div class="wrapp">
  <main class="main">
    <!-- section .section-slider -->
    <section class="section-slider gsap_slider">
      <div class="content gap-20">
        <div class="section__slider gsap_h">
          <!-- gsap__bl -->
          <div class="gsap__bl">
            <div class="gsap__inner">
              <div class="gsap__track gap-x-52 ml-14">
                <div class="gsap__item">
                  <span class="gsap__item-num"># 01</span>
                  <img src="assets/images/lisa.svg" alt="1" />
                  <span class="gsap__item-img">
                    <img src="assets/images/lisa.svg" alt="1" />
                  </span>
                </div>
                <div class="gsap__item">
                  <span class="gsap__item-num"># 02</span>
                  <img src="assets/images/ssamurai.svg" alt="2" />
                  <span class="gsap__item-img">
                    <img src="assets/images/ssamurai.svg" alt="2" />
                  </span>
                </div>
                <div class="gsap__item">
                  <span class="gsap__item-num"># 03</span>
                  <img src="assets/images/ssamurai.svg" alt="3" />
                  <span class="gsap__item-img">
                    <img src="assets/images/ssamurai.svg" alt="3" />
                  </span>
                </div>
                <div class="gsap__item">
                  <span class="gsap__item-num"># 04</span>
                  <img src="assets/images/ssamurai.svg" alt="4" />
                  <span class="gsap__item-img">
                    <img src="assets/images/ssamurai.svg" alt="4" />
                  </span>
                </div>
                <div class="gsap__item">
                  <span class="gsap__item-num"># 05</span>
                  <img src="assets/images/ssamurai.svg" alt="5" />
                  <span class="gsap__item-img">
                    <img src="assets/images/ssamurai.svg" alt="5" />
                  </span>
                </div>
                <div class="gsap__item">
                  <span class="gsap__item-num"># 06</span>
                  <img src="assets/images/ssamurai.svg" alt="6" />
                  <span class="gsap__item-img">
                    <img src="assets/images/ssamurai.svg" alt="6" />
                  </span>
                </div>
                <div class="gsap__item">
                  <span class="gsap__item-num"># 07</span>
                  <img src="assets/images/ssamurai.svg" alt="7" />
                  <span class="gsap__item-img">
                    <img src="assets/images/ssamurai.svg" alt="7" />
                  </span>
                </div>
                <div class="gsap__item">
                  <span class="gsap__item-num"># 08</span>
                  <img src="assets/images/ssamurai.svg" alt="8" />
                  <span class="gsap__item-img">
                    <img src="assets/images/ssamurai.svg" alt="8" />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- gsap__bl END -->
        </div>
      </div>
    </section>
    <!-- section .section END -->
    <br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br />
    <section class="section-text">
      <div class="content">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos
          voluptatem fugit accusamus fuga vero quos, sint est laboriosam eveniet
          ea! Ducimus illum hic quas dolorem minima eius? Laboriosam iure
          deserunt totam sequi atque porro, dignissimos dolore sed laudantium.
          Ducimus modi corporis quaerat autem voluptates, quis, facere minima
          sequi reprehenderit itaque tempore illum perspiciatis delectus
          maiores! Aliquam placeat necessitatibus omnis voluptatem molestias
          repellat repudiandae quia ad quas, in accusantium, est enim esse
          quidem illo dolorem! Dolor, quam voluptatem! Facilis voluptatem
          tempore repellat accusamus quidem illo molestias odio, consequuntur
          rem mollitia dolores praesentium quisquam accusantium quo?
        </p>
      </div>
    </section>
  </main>
  <!-- main .main END -->
</div>
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
