
<div class="loader flex flex-col justify-center items-center">
  <div class="container flex flex-row justify-center items-center">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
  
    <div class="container flex flex-row justify-center items-center">
      <div class="shadow"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
    </div>
    <br><br>
    <div class="text-4xl text-yellow-600 press-start-2p-regular"><h1>CHARGEMENT</h1></div>
</div>
