<div
  class="flex flex-row justify-between items-center text-white z-40 fixed w-screen press-start-2p-regular pr-10 pl-5">
  <!-- Logo -->
  <div>
    <img src="assets/images/anim5.gif" alt="" />
  </div>
  <!-- Menu for larger screens -->
  <div
    class="hidden lg:flex flex-row justify-center items-center lg:text-sm lg:px-2 lg:py-1   lg:gap-5
    xl:ml-56
    2xl:ml-56">
    <a class="css-button-retro--sand" href="">Home</a>
    <a class="css-button-retro--sand" href="">Services</a>
    <a class="css-button-retro--sand" href="">Contact</a>
  </div>
  <!-- User Options -->
  <div
    class="hidden lg:flex lg:flex-col lg:mt-16 xl:mt-0 xl:flex-row lg:ml-10 flex-row justify-center items-center gap-5
    ">
    <a class="css-button-retro--sand text-sm xl:hidden" href="app-login">Connexion</a>
    <a class="css-button-retro--sand text-sm xl:hidden" href="app-register">Inscription</a>
  </div>

  <!-- Mobile menu button -->
  <div class="lg:hidden">
    <button id="menu-btn" class="text-white focus:outline-none">
      <!-- Icon for the burger menu -->
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"
        ></path>
      </svg>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div
    id="mobile-menu"
    class="hidden flex-col lg:hidden fixed top-16 left-0 right-0 bg-black text-white space-y-4 p-4 z-50"
  >
    <a class="css-button-retro--sand" href="">Accueil</a>
    <a class="css-button-retro--sand" href="">Services</a>
    <a class="css-button-retro--sand" href="">Contact</a>
    <a class="css-button-retro--sand" href="">Connexion</a>
    <a class="css-button-retro--sand" href="">Inscription</a>
  </div>
</div>
