<header>
  <div
    class="animated-text fixed text-yellow-600 text-8xl press-start-2p-regular flex felx-col justify-center items-center">
    Bienvenue
    <h1></h1>
  </div>
  <div class="pt-40"></div>
</header>
<br><br><br><br><br><br><br><br><br>
<div class="flex flex-col items-center text-center press-start-2p-regular text-yellow-600">
  <p data-splitting class="text-reveal ">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex qui atque harum
    eligendi, cum deleniti natus voluptates quaerat. Omnis, delectus optio
    assumenda unde incidunt facere quas fugiat cumque nobis repellat. Lorem,
    ipsum dolor sit amet consectetur adipisicing elit. Ex qui atque harum
    eligendi, cum deleniti natus voluptates quaerat. Omnis, delectus optio
    assumenda unde incidunt facere quas fugiat cumque nobis repellat. Lorem,
    ipsum dolor sit amet consectetur adipisicing elit. Ex qui atque harum
    eligendi, cum deleniti natus voluptates quaerat. Omnis, delectus optio
    assumenda unde incidunt facere quas fugiat cumque nobis repellat. Lorem,
    ipsum dolor sit amet consectetur adipisicing elit. Ex qui atque harum
    eligendi, cum deleniti natus voluptates quaerat. Omnis, delectus optio
    assumenda unde incidunt facere quas fugiat cumque nobis repellat.
  </p>
</div>
